.preview-card {
  max-width: 35rem;
  padding: 2.4rem;
  background-color: $Very-dark-blue-card;
  border-radius: 1.5rem;
  margin: 2.4rem;

  display: flex;
  flex-direction: column;
  gap: 2.4rem;

  &__image {
    height: 30.2rem;
    background-image: url("/images/image-equilibrium.jpg");
    background-position: center;
    background-size: cover;
    border-radius: 0.8rem;
    cursor: pointer;

    &:hover {
      background-image: url('data:image/svg+xml,<svg width="48" height="48" xmlns="http://www.w3.org/2000/svg"><g fill="none" fill-rule="evenodd"><path d="M0 0h48v48H0z"/><path d="M24 9C14 9 5.46 15.22 2 24c3.46 8.78 12 15 22 15 10.01 0 18.54-6.22 22-15-3.46-8.78-11.99-15-22-15Zm0 25c-5.52 0-10-4.48-10-10s4.48-10 10-10 10 4.48 10 10-4.48 10-10 10Zm0-16c-3.31 0-6 2.69-6 6s2.69 6 6 6 6-2.69 6-6-2.69-6-6-6Z" fill="%23FFF" fill-rule="nonzero"/></g></svg>'),
        linear-gradient($Cyan-transparent, $Cyan-transparent),
        url("/images/image-equilibrium.jpg");
      background-position: center, center, center;
      background-size: 4.4rem, cover, cover;
      background-repeat: no-repeat;
    }
  }

  &__title {
    color: $White;
    font-size: 2.2rem;
    font-weight: 600;
    margin-bottom: 1.6rem;
    cursor: pointer;

    &:hover {
      color: $Cyan;
    }
  }

  &__text {
    line-height: 2.6rem;
  }

  &__data {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__eth {
    display: flex;
    align-items: center;
    color: $Cyan;
    gap: 0.648rem;
    font-size: 1.6rem;
    font-weight: 600;
  }

  &__time {
    display: flex;
    align-items: center;
    gap: 0.648rem;
    font-size: 1.6rem;
    font-weight: 400;
  }

  &__separator {
    content: "";
    height: 0.1rem;
    background-color: $Very-dark-blue-line;
    border-radius: 1rem;
  }

  &__footer {
    display: flex;
    align-items: center;
    padding-bottom: 0.8rem;
    font-weight: 400;
  }

  &__creator-img {
    width: 3.3rem;
    height: 3.3rem;
    border-radius: 3.3rem;
    box-shadow: inset 0 0 0 0.1rem $White;

    background-image: url("/images/image-avatar.png");
    background-position: center;
    background-size: cover;

    margin-right: 1.6rem;
  }

  &__creator-name {
    color: $White;
  }
}
