// Colors

// Primary

$Soft-blue: hsl(215, 51%, 70%);
$Cyan: hsl(178, 100%, 50%);
$Cyan-transparent: rgba(0, 255, 247, 50.3%);

// Neutral

$Very-dark-blue-main: hsl(217, 54%, 11%);
$Very-dark-blue-card: hsl(216, 50%, 16%);
$Very-dark-blue-line: hsl(215, 32%, 27%);
$White: hsl(0, 0%, 100%);

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;

  @media screen and (max-width: 398px) {
    font-size: 55%;
  }

  @media screen and (max-width: 336px) {
    font-size: 48%;
  }
}

body {
  font-family: Outfit, sans-serif;
  font-size: 1.8rem;
  font-weight: 300;
  background-color: $Very-dark-blue-main;
  color: $Soft-blue;

  min-height: 100dvh;

  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;
}
